*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.grasa{
  background-color: rgb(29, 19, 39);
  color: white;
}
.container{
  height: 100vh;
  background-color: rgb(55, 32, 77);
}
.texiz{
  color: white;
}
.fondo{
  height: 80vh;
  background-image: url(../images/fondo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  
 
}
.pacman{
  height: 35px;
  width: 35px;
   position: relative;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  0%{top: 0px;}
  10%{top: 135px;}
  15%{top: 135px; left: 0px;}
  20%{top: 135px ; left: 83px;}
  30%{ left: 83px; top: 390px;}
  50%{ left: 737px; top: 390px;}
  60%{ left: 737px; top: 90px;}
  70%{ left: 485px; top: 90px;}
  75%{ left: 485px; top: 140px;}
  80%{ left: 440px; top: 140px;}
  85%{ left: 440px; top: 187px;}
  90%{ left: 410px; top: 187px;}
  100%{ left: 410px; top: 240px;}
  110%{ left: 410px; top: 240px;}
  
  
 
}